.login-wrapper {
	height: 100%;
	background: #f3f3f3;
	background:linear-gradient(0deg,rgba(255,0,150,0.2),rgba(255,0,150,0.2)),url("../../app-assets/images/loginBG.png");
  background-size:cover;
	overflow: auto;
}

.login-content {
	// border-top: 1px solid #0f6faf;
	// box-shadow: inset 0px 5px 3px -3px rgba(130, 130, 175, 0.75);

	// height: 100%;

	// display: flex;
  // align-items: center;

	margin-top: 5%;

}

.full-width {
	width: 100%;
	padding-bottom: 3%;
}

.login-btn-wrapper {
	width: 100%;
}

button {
	width: 100%;
}


.example-fill-remaining-space {
  flex: 1 1 auto;
}
