<div class="post-min-wrapper">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<mat-card class="mat-elevation-z6" class="post-card-min">

			<div class="post-dtls-wrapper">
				<div class="auth-name">
					<a> {{ authorName }} </a>
				</div>
				<div class="post-age">
					<span class="post-content-type">{{ postContentType }}</span>
					<span>{{ postAge }}</span>
				</div>
			</div>

			<mat-card-content class="content-wrapper">
				<div class="post-title">
					{{ postTitle }}
				</div>
				<div class="post-body">
					<div class="fade-text">
						{{ postContentText }}
					</div>
					<div class="content-img-wrapper">
						<img [src]="postImgSrc" class="post-img-min"/>
					</div>
				</div>
			</mat-card-content>

			<div class="post-footer-cta-wrapper">
				<div><a class='footer-cta-links'>Like</a></div>
				<div><a class='footer-cta-links'>Share</a></div>
			</div>

		</mat-card>
	</div>
</div>
