<header>
	<mat-toolbar color="primary" class="mat-elevation-z6 jnl-hdr-wrap">
		<span class="jnl-header" *ngIf="showHdrLogo">Journal</span>
		<!-- <span class="example-fill-remaining-space"></span> -->
		<!-- <span>Right Aligned Text</span> -->
		<div class="jnl-hdr-search-wrap" *ngIf="showSearchBar">
			<input placeholder="Search..."/>
		</div>
		<div class="jnl-hdr-icn-grp" *ngIf="showRightIconGroup">
			<i class="material-icons" [hidden]="showNotif">notifications_none</i>
			<i class="material-icons" [hidden]="!showNotif">notifications</i>
			<i class="material-icons">message</i>
			<i class="material-icons">person</i>
		</div>
	</mat-toolbar>
</header>
